@media (min-width: 740px) {
    header {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    nav {
        justify-content: flex-end;
        flex-direction: row;
    }
    nav a {
        display: block;
        flex: 1 1 auto;
    }
    .navigation {
        flex-direction: row;
    }
    #menu {
        display: none;
    }
}
@media (min-width: 37.5em) {
    h1 {
        font-size: 2.5rem;
        margin-left: 0;
        text-align: center;
    }
    h2 {
        font-size: 2rem;
        text-align: center;
    }
}

/* Media query for smaller screens */
/* @media (max-width: 739px) {
    #menu {
        display: block;
    }
} */